<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><h6>Разделы</h6></li>
                    <li>
                        <a href="{% url 'jobs:list' %}">
                            Вакансии
                        </a>
                    </li>
                    <li>
                        <a href="#">Обратная связь</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</footer>