/* General
============================================================================= */
body { background-color: #fdfdfd; font-family: 'Roboto', 'Arial', sans-serif; }
ul { margin-bottom: 0; }


/* Footer
============================================================================= */
.footer { padding: 2rem 0 2rem 0; }