{% extends "base.html" %}


{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ advert.level }} {{ advert.scope }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ advert.salary_from }}&mdash;{{ advert.salary_to }}</h6>
            {% for s in advert.stack.all %}
                <li class="list-inline-item">
                    <a href="#">
                        <span class="badge badge-warning">{{ s.name }}</span>
                    </a>
                </li>
            {% endfor %}

            {{ advert.short_description|linebreaks }}

            {{ advert.long_description|linebreaks }}
        </div>
    </div>
{% endblock %}